<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DATABASE TEST</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <nav>
        <h1>Ecommerce</h1>
        
        <div class="links">
            <a href="/">Home</a>
            <a href="/addproduct">Sell online</a>
            <a href="/product">Products</a>
            <a href="/dashboard">Dashboard</a>
            <a href="/login">Login</a>
            <a href="/logout">Logout</a>
        </div>
    </nav>

     <header>
        <h1>Sign up </h1>
        <p style="color: gray;margin-top: 1em;"> All goods at your finger tip </p>
        <form method="post" action="/" >
            <input type="text" name="name" placeholder="Name">
            <input type="email" name="email" placeholder="Email">
            <input type="submit" value="Submit" style="border: none;">
        </form>
     </header>

</body>
</html>